<div class="container-fluid content">
    <h2 >Spring-Boot applications<br>
        <small>Here you'll find all Spring-Boot applications that registered themselves at this admin application.</small>
    </h2>
    <div>
        <input placeholder="Filter" class="input-xxlarge" type="search" ng-model="list.searchFilter" />
    </div>
    <table class="table table-striped">
        <col>
        <col>
        <col>
        <col>
        <col style="width: 266px;">
        <thead>
        <tr>
            <th><span class="sortable" ng-class="list.orderByCssClass('name')" ng-click="list.orderBy('name')">Application</span>
                /
                <span class="sortable" ng-class="list.orderByCssClass('healthUrl')" ng-click="list.orderBy('healthUrl')">URL</span>
            </th>
            <th><span class="sortable" ng-class="list.orderByCssClass('info.version')" ng-click="list.orderBy('info.version')">Version</span></th>
            <th>Info</th>
            <th>Status</th>
            <th>
                <div class="btn-group pull-right" title="add">
                    <a class="btn btn-success" ng-click="list.add()"><i class="icon-plus icon-white"></i></a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="app in list.applications|orderBy:order.column:order.descending|orderBy:'statusInfo.status':false|filter:list.searchFilter track by app._id">
            <td>{{ app.config.name }}<br/><span class="muted">{{ app.config.serviceUrl || app.config.managementUrl || app.config.healthUrl }}</span></td>
            <td>{{ app.version }}</td>
            <td><span style="white-space: pre" ng-init="collapsed = true">{{app.infoShort}}</span>
                <a class="btn btn-mini" ng-show="app.infoDetails" ng-click="collapsed = !collapsed">...</a><br/>
                <span style="white-space: pre" ng-hide="collapsed">{{app.infoDetails}}</span></td>
            <td><span class="status-{{app.statusInfo.status}}" title="{{app.statusInfo.timestamp  | date:'dd.MM.yyyy HH:mm:ss' }}">{{ app.statusInfo.status }}</span>
                <span ng-show="app.refreshing" class="refresh"></span></td>
            <td>
                <div class="pull-right">
                    <div class="btn-group" ng-hide="app.config.managementUrl == null || app.statusInfo.status == null || app.statusInfo.status == 'OFFLINE'">
                        <a ng-if="app.capabilities.logfile" target="_self" class="btn btn-success" ng-href="{{app.capabilities.logfile ? app.config.logfileUrl :''}}"><i class="icon-file icon-white"></i>Log</a>
                        <a ui-sref="apps.details.metrics({id: app.id})" class="btn btn-success">Details</a>
                        <a class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="apps.env({id: app.id})" >Environment</a></li>
                            <li><a ui-sref="apps.logging({id: app.id})" >Logging</a></li>
                            <li><a ui-sref="apps.jmx({id: app.id})" >JMX</a></li>
                            <li><a ui-sref="apps.threads({id: app.id})" >Threads</a></li>
                            <li><a ui-sref="apps.trace({id: app.id})" >Trace</a></li>
                            <li ng-show="app.capabilities.activiti"><a ui-sref="apps.activiti({id: app.id})" >Activiti</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" title="operation">
                        <a class="btn btn-success" ng-click="list.edit(app)"><i class="icon-pencil icon-white"></i></a>
                        <a class="btn btn-danger" ng-click="list.remove(app)"><i class="icon-remove icon-white"></i></a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
